In [5]:
filepath='DataFiles/income.csv'
import pandas as pd

def readAllData():
    with open(filepath,'r') as f:
        incomedf=pd.read_csv(filepath)
    return incomedf
readAllData()

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [4]:
filepath='DataFiles/income.csv'
import pandas as pd

def readAllData():
    with open(filepath,'r') as f:
        incomedf=pd.read_csv(filepath)
    return incomedf

def avgIncome():
    lis=[]
    datadf=readAllData()
    for i in range(2,11):
        for j in range(0,5):
            lis.append(datadf.values[j][i])
    #print(lis)
    avg=sum(lis)//len(lis)
    return avg

avgIncome()

48525

In [16]:
def stateWithHighestIncome():
    incomedf=readAllData()
    li=[]
    li2=[]
    countries=[]
    for i in incomedf.values:
        countries.append(i[1])
        li.append(i[-3:])
    print(li)
    for i in range(5):
        li2.append(sum(li[i])/len(li))
    lin=li2.index(max(li2))
    print(countries[lin],"is the highest average income in last 3 years with the amount of",max(li2))
    #return incomedf
stateWithHighestIncome()

[array([42590, 43464, 41381], dtype=object), array([57431, 63648, 61137], dtype=object), array([48621, 47044, 50602], dtype=object), array([41302, 39018, 39919], dtype=object), array([53367, 57020, 57528], dtype=object)]
Alaska is the highest average income in last 3 years with the amount of 36443.2

In [55]:
# State with lowest avg income from 2007 to 2010(inclusive)
# Answer = Arkansas
def colstate(incomedf,statename):
    x = incomedf[statename].unique()
    return x
incomedf=readAllData()
def findStateIndex(year1,year2):
    lis=[]
    for column in incomedf.columns:
        lis.append(column)
    startYear=lis.index(year1)
    endYear=lis.index(year2)
    #print(startYear,endYear)
    return startYear,endYear

def findLowAvgIncome(year1,year2):
    income=[]
    lowestIncome={}
    
    for i in incomedf.values:
        income.append(i[year1:year2])
        
    for i in range(len(incomedf.values)):
        #lowestIncome.append(sum(income[i]/len(income[i])))
        lowestIncome[incomedf.values[i][1]]=sum(income[i]/len(income[i]))
        
#     print(lowestIncome)
#     print(min(lowestIncome.values()))
      
    print(list(lowestIncome.keys())[list(lowestIncome.values()).index(min(lowestIncome.values()))],min(lowestIncome.values()))
        
startyear,endyear=findStateIndex('2007','2010')
findLowAvgIncome(startyear,endyear)
#colstate(incomedf,'State')

Arkansas 38973.0

In [3]:
# Print the list of all states in the same line with average income less than California
# Answer = Arizona Alabama Arkansas

In [ ]:
# Print the names of states based on descending order of incoem in the year 2009
# Answer= Alaska California  Arizona Alabama Arkansas

In [ ]:
# State with lowest recorded income from 2005 to 2013
# Answer = Arkansas

In [40]:
incomedf=readAllData()
incomedf.values[1][1]

'Alaska'

In [51]:
mydict = {'george':16,'amber':19}
print(list(mydict.keys())[list(mydict.values()).index(16)]) # Prints george

george