In [14]:
def kthlargest(li,k):
    ulist={}
    keyList=[]
    maxfreq=0
    for i in li:
        if i in ulist:
            ulist[i]+=1
        else:
            ulist[i]=1
            
    freqValues=ulist.values()
    freqValues=sorted(freqValues)
    print(freqValues)
     
    maxfreq=max(freqValues)
    
    for values in ulist.items():
        if values[1]==maxfreq:
            keyList.append(values[0])
    print(keyList)
            
    return keyList[len(keyList)-k]



kthlargest([1,2,3,4,2,5,8,7,1,8],2)

[1, 1, 1, 1, 2, 2, 2]
[1, 2, 8]

2

In [41]:
def combinations(li,k):
    for i in range(0,len(li)-2):
        for j in range(i+1,len(li)-1):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    return

combinations([1,2,3,4,5],2)

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [ ]:
"""def medium(li):
    while(True):
        li3=[]
        li2=differencePairs"""

def differencePairs(li):
    seperateList=li
    uniqueList=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in seperateList:
                uniqueList.append(d)
    for k in uniqueList:
        for k in li:
            li.append(k)
            
    return li

li=[1,9,8]
differencePairs(li)

In [28]:
def medium(li,k):
    while(True):
        li3 = differencePairs(li)
        if li3[0] == li3[1]:
            break
    if len(li3[0]) >= k:
        return sorted(li3[0],reverse=True)[k-1]
    return -1

# Function to identify differences of all 
#pairs of numbers and add those differences
#to the same list.
# It returns the updated list and original list

def differencePairs(li):
    cli = li[:]
    newelements = []
    
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            d = abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [cli, li]
li = [1,9,8,7,6,2]
differencePairs(li)

[[1, 9, 8, 7, 6, 2], [1, 9, 8, 7, 6, 2, 5, 3, 4]]

In [3]:
# List Data referencing vs Data copy
a = [1,2,3]
b= [1,3,2]
a = b.copy() # Data Copy

a = b # Data Referencing

b.append(4)
a.append(5)
b

[1, 3, 2, 4, 5]

In [2]:
[4,8]
[20,40,60]
[4,8,12,16]
[3,6,9,12]
# Convert the list into an
# Arithmetic Progression

[3,8,15]
[3,8,15,5,2,1,4,6,7,9,10,11,12,13,14]
def medium

[3, 8, 15, 5, 2, 1, 4, 6, 7, 9, 10, 11, 12, 13, 14]

In [30]:




def differencePairs(li):
    c=li.copy()
    newelements=[]
    for i in range(0,len(li)-1):
        for j in range(i+1,len(li)):
           # print("(",li[i],li[j],")",end=" " )
            d=abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [c,li]
    

differencePairs([2, 3, 6, 9, 12, 1, 4, 7, 10])

[[2, 3, 6, 9, 12, 1, 4, 7, 10], [2, 3, 6, 9, 12, 1, 4, 7, 10, 5, 8, 11]]

In [33]:
sorted([2, 3, 6, 9, 12, 1, 4, 7, 10],reverse=True)[2-1]

10

### Set - Data Structures in Python

* Represented by {}
* Set contains only unique elements

In [79]:
a={1,2,3,4,5,5}
a.add(9)
a.add(11)

b={7,8,9}
c=(-6,-12,18)
a.update(b,c) # Adding Multiple Elements
"""for i in a:
    print(i,end=" ")"""

a.discard(11)
#a.remove(0)
#print(a)
b=sorted(a,reverse=True)
print(b[2])

8

In [62]:
a.discard(b)
a

{-12, -6, 1, 2, 3, 4, 5, 7, 8, 9, 18}

In [87]:
a={1,2,3,4,5,6}
b={6,77,7,8,9}
c=(-6,-12,18)

a.intersection(b) # Prints all the matching valuesin both a and b sets
a.isdisjoint(b) # finds whether elements present in a are in b and return true if no single element matches 
                    # or return false if even single element matches

{6}

In [72]:
a-b # All elements of a which are not in b

{1, 2, 3, 4, 5, 6}

In [82]:
d=set() # Creates an empty set
d

set()

In [86]:
li=[1,2,3,4,4,4,54,55,56,6,677,7,7,78,8,8,889,9]
u=set(li)
u

{1, 2, 3, 4, 6, 7, 8, 9, 54, 55, 56, 78, 677, 889}

Procedural : C
    
Object Oriented : Java, Python

Scripting : PHP,Python,Javascript, Shell Scripting, Perl

Functional : Python, Haskell, Scala
    
Logic : Prolog, Lisp

# List Comprehensions

In [94]:
# List of N Natural Number
li=[]
for i in range(1,10+1):
    li.append(i)
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [98]:
li=[i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [101]:
# Apply list comprehension to store the cubes of n natural numbers

li=[i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [104]:
# Function to calculate the m factorial
def factorial(n):
    fact=0
    if n==0 or n==1:
        return 1
    return n*factorial(n-1)

# Apply list comprehension to calculate factorial of n natural numbers

n=10
factorialList=[factorial(i) for i in range(1,n+1)]
factorialList

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [16]:
 # Store cumulative sum of numbers till n in a list
 # n=3 , [1,3,6]


def cumulativeSum(n):
    summ=0
    li=[]
    for i in range(1,n):
        summ=summ+i
        #print(i)
        li.append(summ)
    print(li)
cumulativeSum(6)

[1, 3, 6, 10, 15]

In [29]:
n=6
cumulativeList=[sum(range(1,i+1)) for i in range(1,n+1)]
cumulativeList

[1, 3, 6, 10, 15, 21]

In [40]:
def leapYears():
    for i in range(lb,hb):
        if (i%400)==0 or (i%100)!=0 and (i%4)==0:
            print(i)
            
#leapYears(1970,2019)
# Function to store only leap years in a given time period
startYear=1970
endYear=2019

leapYearsList=[i for i in range(startYear,endYear+1) if (i%400)==0 or (i%100)!=0 and (i%4)==0 ]
leapYearsList

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [80]:
li=[1,2,3,2,1]
unique=[]
unique=[unique.append(i) for i in li if i not in unique ]
unique

[[None, None, None]]

### Iterators

* Iterable - Strings, Lists, Tuples, Sets, Dictionaries

* Convert Iterable to Iterator -> iter()

* For Loop: 
* Iterator : Contorl of iteration is easy. It pauses the execution and continues from the point where it stops

In [103]:
it=iter('Python')
print(it)

<str_iterator object at 0x0000026A24DE75C0>

In [ ]:
# Generator is a Funciton where

In [111]:
def generator():
    n=2
    yield n
    
    n=n**3
    yield n
    
a=generator()
next(a)
next(a)

8

In [126]:
def generator1():
    n=2
    while(True):
        n**=3
        yield n
        
        
a=generator1()
for i in range(3):
    print(next(a))

8
512
134217728